#search-container {
  width: 340px;
  margin: 0 auto;
  position: relative;
  input {
    border: 3px solid color(border);
    border-radius: $border-radius;
    height: 54px;
    box-sizing: border-box;
    padding-top: 4px;
    text-align: center;
    font-family: $family-font;
    width: 100%;
  }
  ul {
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
    max-height: 380px;
    overflow-y: scroll;
    text-align: center;
    li {
        line-height: 36px;
        padding-top:6px;
        border-bottom: $dotted color(border);
        transition: background .15s;  
        display: list-item;
        color: color(texts);
        &:hover{
            background: color(hoverBackground);
        }
    }
  }
}
