html,
body  {
  font-size: 10px;
}

nav {
  font-size: 1.6rem;
  font-weight: 700;
}

h1 {
  font-size: 4.9rem;
  font-weight: 500;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  span {
    font-size: 1.6rem;
  }
}

input {
  font-size: 1.1rem;
  font-weight: 400;
}

li {
  font-size: 1.5rem;
}
