//FONTS
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");

//COLORS
$colors: (
  black: #1c1c1c,
  pokemons: #2c3e50,
  activeLink: #ed1a25,
  texts: #2c3e50,
  border: #e1e1e1,
  hoverBackground: lighten(#000000, 96%),
  noitem: #bababa
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

//VARIABLES
$family-font: "Baloo Bhai", cursive;
$dotted: 1px dotted;
$border-radius: 4px;
$grid-template: repeat(4, 1fr);

//GENERAL
* > {
  box-sizing: border-box;
}

html,
body {
  font-family: $family-font;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
